<% provide(:button, '更新') %>

<div class="col-md-6 offset-md-3">
  <div class="border">
    <h2 class="text-center mt-3">ユーザー編集</h2>
    <div class="text-center">
      <p class="py-4 text-muted">(※変更しない項目は空白にしてください)</p>
      <div class="col-md-8 offset-md-2">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= render 'form_user', f: f %>
        <% end %>

        <div class="pb-3 text-right">
          <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "削除してもよろしいですか？" }, method: :delete, class: "btn btn-delete" %>
        </div>
      </div>
    </div>
  </div>
</div>